<!-- コメント入力フォーム ------------------------------------------------------------>
<div class="row">
  <%= form_with(model: [good_found, comment], url: good_found_comments_path(@good_found), id: "form")do |form| %>
  <div class="col-auto">
    <%= form.text_area :content, id:"comment_content", class: "input-mysize"%>
  </div>
  <div class="col-auto">
    <%= form.submit "コメントする", id: "submit", class: "btn btn-outline-dark float-right" %>
  </div>
  <% end %>
</div>

<div id="list">
</div>
