<div class="comment-count p-2">
<%= @good_found.comments.count %>件
</div>
<div id="comments">
  <% @comments.each do |comment| %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="text-center">
          <strong><%= comment.user.nickname %> :</strong> 
          <%= comment.content %>
        </p>
      </div>
    </div>
  <% end %>
</div>