.form-label {
  font-size: 20px;
  background: linear-gradient(transparent 80%, orange 20%);
}

.form-group {
  width: 600px;
}

#text {
  font-size: 18px;
}

h1 {
  font-family: 'Caveat', cursive;
}

body {
  padding-top:54px;
} 

.bg-img {
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-image: url("sample.jpg");
  background-size: cover;
  background-position: center 100%;
}