.form-label {
  font-size: 22px;
  background: linear-gradient(transparent 80%, orange 20%);
  font-family: 'Hachi Maru Pop', cursive;
}

.form-group {
  width: 600px;
}

#text {
  font-size: 22px;
}

h1 {
  font-family: 'Caveat', cursive;
}


//header„ÅÆCSS
.bg-img {
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-image: url("beautiful-sunrise-in-lake-.png");
  background-size: cover;
  background-position: center 40%;
}

.head-img {
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-image: url("sunrise.png");
  background-size: cover;
  background-position: center 40%;
  margin-top: 0;
}

.lead {
  font-family: 'Hachi Maru Pop', cursive;
}

.lead-eng {
  font-family: 'Caveat', cursive;
  font-size: 180%;
}
//header

//footer
.foot-color {
  background-color: white;
}
//footer

.title-text {
  font-family: 'Hachi Maru Pop', cursive;
}

//good_found_show
.show-back {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(rgba(231, 231, 231, 1), rgba(233, 233, 233, 1) 20%, rgba(172, 172, 172, 1) 70%);
}

.cover-new {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(168, 202, 240, 0.6), rgba(233, 240, 250, 0.6));
}

//good_found_show

.comment-count {
  font-size: 21px;
  font-family: 'Hachi Maru Pop', cursive;
}